Gemfile.lock
/.config
/test/tmp/
/test/version_tmp/
/tmp/
.ruby-version
.env
/.yardoc/
/_yardoc/
/doc/
/rdoc/
/.bundle/
/vendor/
public/vendor/
/dependencies/bundle
/lib/bundler/man/
.ruby-version
.ruby-gemset
.rvmrc
.DS_Store
.directory

