<input type="text" id="list-input" />
<button id="list-submit">Add</button>
<ul id="list-ul"></ul>

<script src="./js/bus.js"></script>
<script src="./js/listInput.js"></script>
<script src="./js/listSubmit.js"></script>
<script src="./js/listUl.js"></script>
<script src="./js/list.js"></script>
