.password-eye {
	background-color: red;
    background: url("./images/eye.png") no-repeat;
    background-size: 100% auto;
    height: 30px;
    width: 30px;
    display: inline-block;
}
.password-eye--closed{
    background-position: 0 -20%;
}

.password-eye--opened{
    background-position: 0 78%;
}